#category {
  text-transform: uppercase;
  overflow: auto;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  #category {
    text-transform: none;
  }
  #icon-comment {
    transform: scale(1);
    width: 30px;
    height: 25px;
  }
  #hot-news__title-category {
    max-height: unset;
  }
}
