.avatar {
  width: 180px;
  border-radius: 50%;
}
.content {
  border-bottom: 5px solid #f0f0f0;
}
.page-main {
  border-right: none;
}
@media only screen and (max-width: 768px) {
  .content {
    align-items: center;
  }
  .info {
    text-align: center;
  }
  .avatar {
    width: 42.667vw;
  }
}
