#header {
  background: #427cc6;
  padding: 0 !important;
}
section {
  padding: 14px;
}
#body,
#footer {
  padding: 0;
}
#body-wrapper {
  border-top: none;
}
#menu-bar {
  background: #052962;
  width: 100%;
}
#page-main {
  width: 72%;
  border-right: 1px solid #f0f0f0;
  /* width: 814px; */
}
#hot-news__title {
  max-height: 300px;
  width: 300px;
}
#hot-news__title-category {
  max-height: 300px;
  width: 100%;
}
input {
  color: #fff;
}
input:focus {
  outline: none;
}
#search-bar {
  padding: 0 18px;
  height: 30px;
  width: 100%;
  border-radius: 4px;
}
#side-news {
  width: 48%;
}
#search-input {
  background: #052962;
  border: none;
}
#search-input::placeholder {
  color: #b9e1ff;
}
#hot-news img {
  aspect-ratio: 5 / 3;
  max-width: 500px;
  width: auto;
}
.ad-300-250 {
  width: 300px;
  height: 250px;
  background: #5f5f5d;
}
.ad-300-250-v2 {
  width: 300px;
  height: 250px;
  background: #5f5f5d;
}
.ad-800-128 {
  width: 100%;
  height: 128px;
  background: #5f5f5d;
}
#ads-300-600 {
  width: 300px;
  height: 600px;
  background: #5f5f5d;
}

.time {
  font-size: 12px;
  line-height: 24px;
  color: #707070;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.tag {
  padding: 4px 8px;
  background: #ebebeb;
  border-radius: 16px;
}
#common-read {
  border-bottom: 2px solid #dbdbdb;
  width: 100%;
  font-size: 19px;
}
#comment {
  border-bottom: 2px solid #005689;
  width: 100%;
  font-size: 19px;
  color: #005689;
}
#side-bar {
}
.tab__title {
  position: relative;
  z-index: 3;
  font-size: 30px;
  color: #005689;
  font-style: italic;
}
.tab__dash {
  position: relative;
}
.tab__dash::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 28px;
  z-index: 1;
  width: 100%;
  height: 15px;
  background-color: #b9e1ff;
}
#border-top__short {
  width: 76px;
  border-top: 1px solid #2da5ff;
}
.max-width-394 {
  max-width: 394px;
}
#ads-img {
  width: -webkit-fill-available;
}
#footer-wrapper {
  border: 1px solid #fff;
  position: relative;
}
#to-the-top {
  position: absolute;
  right: 80px;
  bottom: -7px;
  padding: 0 20px;
  background: #052962;
}
table {
  width: -webkit-fill-available;
  table-layout: fixed;
  width: 300px;
}
tr th {
  padding: 14px;
  border-bottom: 1px solid #dbdbdb;
  text-align: left;
}
tr td {
  padding: 14px;
  border-bottom: 1px solid #dbdbdb;
  text-align: left;
}
#forex-table tr th {
  background: #d0dde6;
  padding: 0;
  text-align: center;
}
img {
  width: 100%;
}
/* icon define */
#icon-search {
  background-image: url("./asset/icon-sprite.png");
  background-position: -14px -214px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-sun {
  background-image: url("./asset/icon-sprite.png");
  background-position: -12px -318px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-reload {
  background-image: url("./asset/icon-sprite.png");
  background-position: -12px -163px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-user {
  background-image: url("./asset/icon-sprite.png");
  background-position: -12px -24px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-menu {
  background-image: url("./asset/icon-sprite.png");
  background-position: -12px -107px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-stonk {
  background-image: url("./asset/icon-sprite.png");
  background-position: -13px -266px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-stonk-2 {
  background-image: url("./asset/icon-sprite.png");
  background-position: -13px -642px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-chevron {
  background-image: url("./asset/icon-sprite.png");
  background-position: -13px -610px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-comment {
  background-image: url("./asset/icon-sprite.png");
  background-position: -10px -62px;
  width: 25px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-location {
  background-image: url("./asset/icon-sprite.png");
  background-position: -13px -529px;
  width: 25px;
  height: 31px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-phone {
  background-image: url("./asset/icon-sprite.png");
  background-position: -13px -485px;
  width: 25px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}
#icon-mail {
  background-image: url("./asset/icon-sprite.png");
  background-position: -16px -370px;
  width: 25px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}
.fa-home:before {
  font-size: 44px;
}
#icon-share {
  background-image: url("./asset/icon-mobi-share.png");
  background-position: 4px;
  width: 44px;
  height: 44px;
  display: inline-block;
  background-repeat: no-repeat;
}
/*  */
.comment-amount {
  display: inline-flex;
  align-items: end;
}
#dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a1a1a1;
}
.description {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.button-zoom {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-social {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f6f6f6;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-share {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #f6f6f6;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  position: absolute;
  top: -20px;
  left: -2px;
  background-color: white;
  padding: 28px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-des {
  padding: 0 20%;
}
.cmt-icon {
  font-size: 40px !important;
}
.motion-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
}
.avatar {
  color: #005689;
  font-weight: 700;
  font-size: 12px;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  background-color: #a1a1a1;
}
.collapse {
  color: #005689;
  text-decoration: underline;
}
#list-post {
  border-top: 1px solid #e2e2e2;
}
#hot-news__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
#number {
  line-height: normal;
}
/* #list-post::before {
  position: absolute;
  top: 0;
  content: "";
  height: 1px;
  background-color: #052962;
  width: 100%;
}
#list-post::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 1px;
  background-color: #052962;
  width: 100%;
} */
@media only screen and (max-width: 800px) {
  #page,
  #page-main,
  #list-post__left,
  #list-post__right,
  #side-page,
  #hot-event {
    padding: 0;
  }
  #hot-event {
    padding: 8px 25px;
  }
  #hot-news,
  #video__container,
  #video__list {
    display: flex;
    flex-direction: column-reverse;
  }
  #nav-bar,
  #nav-bar-category {
    background: #fff;
    color: #005689;
    padding: 2px 4px;
    gap: 0;
    align-items: center;
  }
  #icon-wrapper {
    gap: 16px;
  }
  .icon-scale {
    transform: scale(1.2);
  }
  #side-news {
    width: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  .ad-800-128 {
    margin: 12px 0 !important;
  }
  #list-post__left {
    padding: 0;
  }
  #list-post__right {
    padding: 20px 0;
  }
  .business-list {
    gap: 0 !important;
  }
  .wrapper {
    padding: 20px;
  }
  #body,
  #footer {
    padding: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .wrapper {
    padding: 16px;
  }
  #hot-news img {
    width: 22rem !important;
    height: unset;
  }
}

@media only screen and (max-width: 768px) {
  #nav-bar-category {
    justify-content: unset !important;
    font-size: 28px;
    padding-left: 20px;
  }
  #nav-bar-category a {
    padding-top: 0;
    padding-bottom: 0;
  }
  #category {
    padding-left: 20px;
    justify-content: flex-start;
  }
}
