#content__hidden {
  display: none !important;
}
#block__hidden {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  #sharing {
    display: none;
  }
  #detail_container {
    padding: 12px 10px;
  }
  #bread-crumb {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #title {
    word-spacing: 1px;
  }
  #sub__menu {
    margin: 10px 0;
  }
  #content__detail {
    word-spacing: 3px;
  }
  #description__detail {
    margin: 10px 0;
  }
  #description__detail span {
    padding: 0;
  }
  #main__content {
    flex-direction: column;
  }
  .width-59 {
    width: auto;
  }
  .width-38 {
    width: auto;
  }
  .width-60 {
    width: auto;
  }
  .width-42 {
    width: auto;
  }
  #box {
    width: 94%;
    height: auto;
    margin: 10px 0 24px 0;
  }
  .box__content {
    position: relative;
    width: 100%;
    height: auto;
  }
  #other__news {
    padding-bottom: 0px;
  }
  #other__news p:nth-child(2) {
    display: none;
  }
  #img__detail {
    width: 120px;
    height: 80px;
  }
  #container__content {
    margin-top: 16px;
  }
  #container__comments {
    padding: 16px 12px;
  }
  #comment__btn {
    width: 100%;
    text-align: center;
    padding: 4px 18px;
  }
  .comment-item {
    gap: 5px;
  }
  #comment__action {
    border: none !important;
    padding-left: 0;
  }
  .wrapper__btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .time {
    padding-bottom: 0px;
  }
  #hidden__ads {
    display: none;
  }
  .post-item {
    margin-bottom: 0;
    padding-top: 0;
    border-top: none;
  }
  .img-250-280 {
    height: 230px;
  }
  #content__hidden {
    display: inline !important;
  }
  #block__hidden {
    display: block !important;
  }
}

.ad-1128-250 {
  width: 1128px;
  height: 128px;
  background-color: #5f5f5d;
}

#video-item__img::after {
  position: absolute;
  content: "01:42";
  bottom: 0;
  right: 0;
  height: 40px;
  width: 80px;
  background-color: red;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
}
