#page-main {
  width: 100%;
}
.button-social-video {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #e1e1e1;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 769px) {
  #nav-bar {
    justify-content: flex-start;
  }
  #hot-news__video,
  #news-item {
    background: #fff;
  }
  #news-item {
    flex-direction: column;
    padding-top: 38px;
    border-top: 1px solid #cdcdcd;
  }
  #hot-news__wrapper #news-item:first-child {
    border-top: none !important;
    padding-top: 0 !important;
  }
}
