#page-main {
  width: 100%;
}
@media only screen and (max-width: 769px) {
  #nav-bar {
    justify-content: flex-start;
  }
  #hot-news__video,
  #news-item {
    background: #fff;
  }
  #news-item {
    flex-direction: column;
    padding-top: 38px;
    border-top: 1px solid #cdcdcd;
  }
  #hot-news #news-item:first-child {
    border-top: none !important;
    padding-top: 0 !important;
  }
  
}
